* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
}

.navbar {
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  background-color: #333;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 60px;
}

.nav-logo img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.navBar {
  color: #fff;
  font-size: 1.6rem;
  display: none;
}

.navbar ul {
  display: flex;
  padding-right: 2rem;
}

.navbar ul li {
  list-style: none;
  padding-left: 2rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .navbar ul {
    display: none;
  }

  .navBar {
    display: block;
  }
}

/* ==========Hero section======
============================ */

.hero-section {
  width: 100%;
  height: 100vh;
  padding: 5rem;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/582/542/non_2x/vector-abstract-template-black-frame-layout-metallic-red-light-on-dark-background-modern-luxury-futuristic-technology-concept.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title h2 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
}

.hero-title p {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .hero-title h2 {
    font-size: 3rem;
  }
  .hero-title p {
    font-size: 1rem;
  }
}

/* ==========about section=====
============================ */

.about-btn {
  background: none;
  border: 2px solid #000;
  padding: 0.6rem 1.6rem;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

.about-btn:hover {
  background: red;
  color: #fff;
  transition: 0.5s ease-in-out;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: rgb(199, 1, 116);
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}

.section-title h2 {
  color: #000;
  font-weight: bold;
  font-size: 2.5rem;
}
.service {
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s ease-in-out;
  color: #000;
  border: 2px solid #000;
}
.service h3 {
  font-weight: bold;
}

.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.servce .underline {
  width: 3rem;
  height: 0.12rem;
  transition: 0.3s ease-in-out;
}

.service p {
  transition: 0.3s ease-in-out;
}

.description {
  height: 200px;
  overflow-y: scroll;
}

@media screen and (min-width: 676px) {
  .service-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .service-center {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .service {
    border: 2px solid #000;
    border-radius: 8px;
    color: #000;
  }
}

/* ============Contact=====
========================= */

.contact-form {
  width: 100%;
  margin: 0 auto;
  padding-left: 2rem;
}

input {
  outline: none;
  border: 2px solid gray;
  padding: 0.4rem;
  width: 300px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
}

textarea {
  width: 300px;
  height: 200px;
  outline: none;
  border: 2px solid gray;
  padding: 0.4rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.contact-btn {
  margin-left: 2rem;
  outline: none;
  border: none;
  background-color: blue;
  padding: 0.4rem 1rem;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}

.contact-info {
  margin-top: 2rem;
  text-align: center;
}

@media screen and (min-width: 660px) {
  textarea {
    width: 615px;
    height: 150px;
  }
}
